
.projects-container {
    width: 80%;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
}

.tab-list {
    display: flex;
    padding: 10px;
    color: var(--color-light);
    gap: 5px;
    border: 1px solid var(--size-xs);
    flex-wrap: nowrap;
}

.tab-list li {
    cursor: pointer;
    color: inherit;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab-list li:hover {
    background-color: var(--color-indigo);
    color: #fff;
}

.project-content {
    padding: 20px;
}
.isactive{
    background-color: var(--color-indigo);
    color: #fff;
}

.project-category.active {
    display: block;
}
.project-category{
    display: none;
}
  .image_box {
    width: 100%;
    height:60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    margin: 10px auto 0 auto;
  }
  .image_box .card {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    position: relative;
    cursor: pointer;

  }
  
  .image_box .card:nth-child(1),
  .image_box .card:nth-child(2),
  .image_box .card:nth-child(3)
   {
    display: block;
    height: 100%;
  }
  .image_box .card .blog-image-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-image-wrap {
    height: 250px;
    width: 100%;
    /* aspect-ratio: 1/1; */
  }
  
  .card .blog-story-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 250px);
    padding: 20px;
    background-color: rgba(2, 1, 10, 0.9);
    transition: transform 0.8s ease;
}
  .blog-story-wrap .blog-title {
    font-size: 14px;
    color: rgb(255, 255, 255);
    width: 100%;
  }
  
  .blog-info {
    font-size: 14px;
    color:#fff;
  }
  
  .readmore-btn {
    width: 100%;
    background-color: rgba(1, 18, 77, 0.966);
    color: white;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .readmore-btn a{
    color: white;
  }
  .btn-wrap {
    text-align: center;
    margin-top: 20px;
  }
  .showMore {
    display: block !important;

  }
  .btnBox{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seeMoreBtn, .seeLessBtn{
    background-color: var(--color-);
    padding: 10px 20px 10px 20px;
  }
  /*
/* xs*/
@media (max-width: 475px){
  .projects-container {
    width: 98%;
}
  .image_box {
    grid-template-columns: 1fr;
  }
  .tab-list {
    padding: 5px;
    gap: 5px;
}

.tab-list li {
    padding: 5px 5px;
    font-size: var(--size-xs);
}

.tab-list li:hover {
    background-color: var(--color1);
    
}

.project-content {
    padding: 5px;
}

  .blog-story-wrap .blog-title {
    font-size: var(--size-base);
  }
  
  .blog-info {
    font-size: var(--size-xs);
  }
  
}
/* xs*/
@media (min-width: 475px){
  .projects-container {
    width: 90%;
}
  .image_box {
    grid-template-columns: 1fr;
  }
  .tab-list {
    padding: 8px;
    gap: 8px;
}

.tab-list li {
    padding: 8px 8px;
    font-size: var(--size-sm);
}

.project-content {
    padding: 5px;
}
  .blog-story-wrap .blog-title {
    font-size: var(--size-lg);
  }
  
  .blog-info {
    font-size: var(--size-sm);
  }
  
  
}
/* sm*/
/*@media (min-width: 640px){
}
/* md*/
 @media (min-width: 768px){
  .projects-container {
    width: 98%;
}
  .image_box {
    grid-template-columns: 1fr;
  }
  .tab-list {
    padding: 8px;
    gap: 8px;
}

.tab-list li {
    padding: 10px 10px;
    font-size: var(--size-base);
}

.tab-list li:hover {
    background-color: var(--color1);
    
}

.project-content {
    padding: 8px;
}

  .blog-story-wrap .blog-title {
    font-size: var(--size-lg);
  }
  
  .blog-info {
    font-size: var(--size-sm);
  }
  
}
/* lg*/
 @media (min-width: 1024px){
  .projects-container {
    width: 80%;
}
  .image_box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tab-list {
    padding: 8px;
    gap: 8px;
}

.tab-list li {
    padding: 10px 10px;
    font-size: var(--size-lg);
}

.tab-list li:hover {
    background-color: var(--color1);
    
}

.project-content {
    padding: 8px;
}

  .blog-story-wrap .blog-title {
    font-size: var(--size-xl);
  }
  
  .blog-info {
    font-size: var(--size-sm);
  }
  
 
}
/* xl*/
/* @media (min-width: 1280px){
}
/* 2xl*/
/* @media (min-width: 1536px){
  
}
