
*{
    margin: 0;
    padding: 0;
    line-height: calc(1em +0.5rem);
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    

}
:root{
    --shadow: #4f46e5;
    --scrollbarBG: #eee;
    --thumbBG: #211d68;
    /*----colors----*/
    --color1: rgba(52, 7, 136, 0.836);
    --color-dark:#070a13;
    --mode-clr:#f1f5f9;
    --color-light:#f1f5f9;
    --color-slate400:#94a3b8;
    --color-slate600:#99a9be;
    --color-slate800:#1e293b;
    --color-rose:#070180;
    --color-indigo:#453bff;
    --color-border:#0602527c;
    --color-nav-links:#f1f5f9;

    /*----font sizes----*/
    --size-xxs:0.5rem;
    --size-xs:0.75rem;
    --size-sm:0.875rem;
    --size-base:1rem;
    --size-lg:1.125rem;
    --size-xl:1.25rem;
    --size-2xl:1.5rem;
    --size-3xl:1.875rem;
    --size-4xl:2.25rem;
    --size-5xl:3rem;
    --size-6xl:3.75rem;
    --size-7xl:4.5rem;
    --size-8xl:6rem;
    --size-9xl:8rem;
    --size-10xl:10rem;
}
/* rose rgb(225,29,72)*/
/* rose rgb(79,70,229)*/
html{
    scroll-behavior: smooth;
}
.light-mode{
        --color-light:#070a13;
        --color-dark:#f1f5f9;
        --color-slate400:#1e293b;
        --color-slate600:#1e293b;
        --color-slate800:#1e293b;
        --color-rose:#4f46e5;
        --color-indigo:#4f46e5;
        --color-border:#3434351f;
        --color-nav-links:#f1f5f9;
        --mode-clr:#ffb67a;
    
}
body{
    background-color: var(--color-dark);
    color: var(--color-light);
    overflow-x: hidden;
}



img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
    user-select: none;
}
button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}
a{
    color: var(--color-rose);
}
strong{
    color: var(--color-indigo);
}
/*--------scrollbar---*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
  }
 
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var( --color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.hiddenloader{
  opacity: 0;
  visibility: hidden;
}
.showloader{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
svg{
  width: 20rem;
}
svg text{
  font-size: 5rem;
  stroke-width: 2;
  letter-spacing: -6px;
}
svg text.text-body{
  stroke: orangered;
  animation: 4s infinite alternate animate-stroke;
}

@keyframes animate-stroke{
  0%{
      fill: transparent;
      stroke: orangered;
      stroke-width: 3;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 32%;
  }
  50%{
      fill: transparent;
      stroke: orangered;
      stroke-width: 3;
  }
  80%, 100%{
      fill: orangered;
      stroke: transparent;
      stroke-width: 0;
      stroke-dashoffset: -25%;
      stroke-dasharray: 32% 0;
  }
}