/* WhatsApp Button */
#whatsappButton {
    position: fixed; 
    /* top: 50%; */
    width: 60px;        /* Fixed width */
    height: 60px;       /* Fixed height */
    background-color: #25D366; /* WhatsApp green */
    border-radius: 50%; /* Circular shape */
    display: flex; /* Center the icon inside */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer; /* Pointer on hover */
    z-index: 1000; /* Ensure it's above other elements */
    transition: 0.5s ease all;
    margin-left:10px;
    z-index: 99999999;
}

/* WhatsApp Icon */
#whatsappButton img {
    width: 30px;
    height: 30px;
    object-fit: contain; /* Prevent image distortion */
}

/* Optional Hover Effect */
#whatsappButton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}